h4{
    font-size: 15px;
    margin:0;
}

.card-header {
    background-color:lightgray;
    border: solid 1px;
    width: 100%;
    padding: 2px;
    padding-left: 10px;
  }
  .card {
    border: solid 1px;
    border-radius: 3px;
    height: auto;
    width: 100%;
    margin-top: 7%;
    box-shadow: 10px 10px 5px rgb(71, 69, 69);
  }
.card-body{
    margin-top: 2%;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.btn{
    text-align: center;
    margin-left: 21%;
}
.row
{
    margin-left: 18%;
    margin-top: 3%;
}

