
    <figure>
        <img src="assets/images/GP.jpg" alt="" srcset="" class="img">
    </figure>
    <form class="box" [formGroup]='formGroup'>
        <h1 class="text-center login-title">Forgot Password</h1> 
        <img class="profile-img" src="assets/images/forgotPwd.png" alt="">
        <input type="email" #email placeholder="Enter Your Email" formControlName='email' id="forgotPasswordEmailId" autofocus>
        <input type="submit" value="Submit" (click)='forgotPassword(email.value)'>
    </form>

