<div class="container-fluid">
  <h3 class="text-center">Client Details List</h3>
  <div class="card"> 
    <div class="card-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search here...">
        <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
      </mat-form-field>
    </div> 

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column-->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Sl No. </th>
        <td mat-cell *matCellDef="let element;"> {{dataSource.filteredData.indexOf(element) + 1}}.</td>
      </ng-container>

      <ng-container matColumnDef="clientId">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> clientId</th>
        <td mat-cell *matCellDef="let element" [hidden]="show"> {{element.clientId}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="clientname">
        <th mat-header-cell *matHeaderCellDef> Client Name </th>
        <td mat-cell *matCellDef="let element"> {{element.clientname}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="clientMobile">
        <th mat-header-cell *matHeaderCellDef> PhoneNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.clientMobile}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="clientEmail1">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.clientEmail1}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> CreatedDate </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="panNo">
        <th mat-header-cell *matHeaderCellDef> PanNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.panNo}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="gstin">
        <th mat-header-cell *matHeaderCellDef> GSTIN </th>
        <td mat-cell *matCellDef="let element"> {{element.gstin}} </td>
      </ng-container>

      <ng-container matColumnDef="icons">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element" (click)="editClient(this.element.clientId)"><a class="edit" title="Edit"
            data-toggle="tooltip"><i class="fa fa-edit"></i></a></td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element" (click)="deleteClient(this.element.clientId)"><a class="delete"
            title="Delete" data-toggle="tooltip"><i class="fa fa-trash"></i></a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <br><br>
</div>