h4 {
  font-size: 15px;
  margin: 0;
}
.card-header {
  background-color: lightgray;
  border: solid 1px;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
}
/* .card {
  border: solid 1px;
  border-radius: 3px;
  height: auto;
  width: 100%;
  margin-top: 1%;
  box-shadow: 10px 10px 5px rgb(71, 69, 69);
} */
#client_create {
  padding-top: 30px;
}

input[type="text"],
[type="email"],
select {
  border-radius: 10px;
  width: 100%;
}

/* .btn {
  text-align: center;
  margin: 20px;
  /* margin-left: 300px; */
/* } */
/* .btn
{
     text-align: center;
     margin-left: 10%;
     margin-bottom: 2%;
    /* margin-left: 300px; */
/* } * */

.btn {
  text-align: center;
  margin-left: 10%;
  margin-bottom: 2%;
  /* margin-left: 300px; */
}
